.room-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.room-creator select {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
}

.room-creator input, textarea {
    width: 99%;
    margin-bottom: 20px;
    height: 30px;
}

.room-creator button {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 24px;
    font-size: 16px;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: start;
}

.short-text {
    height: 50%;
}
