.link {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 14px;
}

.link:link, .link:visited {
    color: white;
    text-decoration: none;
}

.link:hover, .link:active {
    color: rgb(180, 180, 180);
}

.margin-vertical {
    margin: 15px 0;
}
